.dashboard-bg {
    background-color: #313A46;
    height: 100vh;
}

.dashboard-contain-bg {
    background-color: #F2F2F2;

    height: 100vh;
}

.custom-dashboard-link a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 30px;
    padding-top: 5px;
    text-align: left;
}

.custom-dashboard-link a:hover {
    color: #0DCAF0;
}

.dashboard-header {
    
    padding-left: 50px;
    
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.dash-img{
    width:40px;
}

/* .dasha {
    padding: 1px;
} */