.dashboard-from input{
display: block;
width: 50%;
margin: 10px 0;
padding: 5px 2px;

}
.add-button{
display: block;
width: 50%;
margin: 10px 0;
padding: 5px 2px;

}
.dashboard-from textarea{
    width:50%;
}
.add-service form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}